@page "/dog"
@rendermode InteractiveServer

<PageTitle>Dog</PageTitle>

<p>Dog</p>
<button @onclick="GetDog">GetDog</button>
<img src="@img" />

@code {
    string img = "";
    private void GetDog() {
        var dis = new DogImageService();
        img = dis.GetImage();
    }
}
