@page "/"
@rendermode InteractiveServer

<PageTitle>Dog</PageTitle>

<p>Dog</p>
<button @onclick="GetDog">GetDog</button>
<button @onclick="GetDogFact">GetDogFact</button>
<img src="@img" class="img-fluid" />
<p>@fact</p>

@code {
    string img = "";
    string fact = "";
    private void GetDog()
    {
        var dis = new DogImageService();
        img = dis.GetImage();
    }

    private void GetDogFact()
    {
        var factService = new DogFactService();
        fact = factService.GetFact();
    }
}
